html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
body {
  background: skyblue;
  background: #FFF;
  font-family: "Helvetica", Arial, sans-serif;
  margin: 0;
  display: flex;
  height: 100%;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertcally. */
  align-items: center;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #00FF00;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 350;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00FF00;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00FF00;
  color: white;
  font-weight: 500;
}
main {
  padding: 50px 50px;
}

h2 {
  font-size: 2.5em; /* 30px/16=1.875em */
  font-weight: 400;
  color: 0;

}

p {
  font-size: 1.5em; /* 14px/16=0.875em */
  color: #CD5C5C;
  font-weight: 350;
  color: 0;
}
