body {
  background: skyblue;
  background: linear-gradient(slateblue, skyblue);
  font-family: "Helvetica", Arial, sans-serif;
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}
