body {
  background: skyblue;
  background: #FFF;
  font-family: "Helvetica", Arial, sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

h2 {
  font-size: 2.5em; /* 30px/16=1.875em */
  font-weight: 400;
  color: 0;

}

p {
  font-size: 1.5em; /* 14px/16=0.875em */
  color: #CD5C5C;
  font-weight: 350;
  color: 0;
}
